# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science.
- Describe commonly used libraries in data science.
- Create a table of data science tools.
- Evaluate arithmetic expressions in Python.
- Discuss various development environment tools used in data science.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Tensorflow

| Data Science Tools   |
|----------------------|
| Jupyter Notebook     |
| RStudio              |
| MySQL                |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [6]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60.
(200/6)

33.333333333333336

##  Author

David Illah